/*--------------------------------------------------------------
	# GENERAL
---------------------------------------------------------------*/
.container {
	max-width: 970px;
	width: 100%;
}

.bold {
	font-weight: 700;
}