/*--------------------------------------------------------------
	# HOME ## FEATURED BOX
---------------------------------------------------------------*/
.featured-container {
	border-top: 1px solid #E8E7E5;
	margin-bottom: 30px;
	padding-top: 20px;	
}

.featured-box {
	margin: 0 auto;
	max-width: 294px;

	> .title {
		color: #07769C;
		font-size: calc-em(22);
		margin-bottom: 0; 
	}

	> .tagline {
		color: #4C4C4B;
		display: inline-block;
		font-size: calc-em(12);
		margin-bottom: calc-mg(15px, 294px);

	}

	> .description {
		color: #333;
		font-size: calc-em(14);
	}
}

/*--------------------------------------------------------------
	# HOME ## NETWORKING
---------------------------------------------------------------*/
.networking-container {
	border-top: 1px solid #E8E7E5;
	padding-top: calc-mg(20px, 940px);	
}

.social-connection {
	margin: 0 auto;
	max-width: 294px;	

	> .title {
		border-bottom: 1px dashed #bcbaba;
		font-size: calc-em(18);
		padding-bottom: calc-mg(7px, 294px);
	}

	> .description {
		font-size: calc-em(12);		
	}


	> .social-networks {
		@extend .social-box;
		margin-bottom: calc-mg(30px, 294px);
		display: inline-block;

		@media #{$screen-sm-max} {
			.item {
				max-width: 40px;
			}
		}			
	}

}

/* SOCIAL CONNECTION */
.updates-news {
	margin-bottom: calc-mg(7px, 294px);
	display: inline-block;

	> .item {
		border-bottom: 1px dashed #bcbaba;	
		float: left;
		padding: calc-mg(10px, 294px) 0; 			

		& .thumb {
			float: left;
			line-height: 0px;
			margin: 0 calc-mg(7px, 294px) 0 0;
		}

		& .description {
			color: #333;
			font-size: calc-em(12);
			margin-bottom: 0;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}					
	}
 		
}