/* ----------------------------------------------
    CSS MAIN
---------------------------------------------- */
.container {
	max-width: 970px;
	width: 100%;
}

.header-box {
	background: url(../images/bgs/bg-header.png) repeat-x;
	margin-bottom: 50px; 
}

.brand-custom {
	margin-top: 15px;
}

.navbar-default {
	background-color: transparent;
}

.nav-customize {
	margin-top: 45px;

	li {
		border-left: 1px dotted #E7E6E4;
	}

	li a{
		color: #333;
		font-size: calc-em(14);
		font-weight: 700;
		line-height: 14px;
		padding-top: 5px;
		padding-bottom: 5px;		
		text-transform: uppercase;
	
		span {
			display: block;
			font-size: 8px;
			font-weight: normal;
		}
	}
}

/* SLIDER */
.slider-bg {
	background: #1a1a1a; /* Old browsers */
	background: -moz-linear-gradient(top,  #1a1a1a 0%, #292929 50%, #333333 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #1a1a1a 0%,#292929 50%,#333333 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #1a1a1a 0%,#292929 50%,#333333 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1a1a', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
	position: relative;
	width: 100%;
	padding-bottom: 335px;
}

.slider-box {
	position: absolute;
	max-width: 940px;
	top: 25px;
}

.slider-thumb {
	border: 1px solid #c6c6c6;
	border-radius: 12px;
}

.slider-shadow {
	position: absolute;
	left: 50%;
	margin-left: -435px;
	bottom: -45px;
}

.slider-tt {
	margin: 50px 0 15px 0;
	font-size: 26px;
	font-weight: 700;
}

.owl-controls {
	position: absolute;
	bottom: 10px;
	left: 15px;	
}

.slider {

	.owl-theme {

		.owl-dots {

			.owl-dot span {
				background-color: #E7E6E4;
				border: 3px solid #020302;
				padding: 4px;
			}

			.owl-dot:hover span {
				background-color: #E7E6E4;
				padding: 4px;
			}		

			.owl-dot.active span {
				background-color: #4ADBFB;
				padding: 4px;
			}
		
		} 
	
	}

}

/* FEATURED BOXES */
.featured-boxes {
	border-top: 1px solid #E8E7E5;
	margin-bottom: 30px;
	padding-top: 20px;

	h3 {
		color: #07769C;
		font-size: 22px;
		margin-bottom: 0; 
	}

	span {
		color: #4C4C4B;
		display: inline-block;
		font-size: 12px;
		margin-bottom: 15px;

	}

	p {
		font-size: 15px;
	}

	a {
		background: url(../images/bgs/btn-bg.png) no-repeat;
		font-size: 12px;
		padding: 8px 87px 8px 15px;
		display: inline-block;
	}
}

/* SOCIAL CONNECTION */
.form-custom {
	font-size: 10px;
	margin-bottom: 15px;	
}

.form-custom:focus {
	border-color: #777;
	box-shadow: none;
}

.btn-custom-blue {
	background: url(../images/bgs/bg-button-blue.png) no-repeat;
	border: none;
	color: #fff;
	font-size: 12px;
	padding: 8px 110px 8px 15px;
	display: inline-block;
}

.bold {
	font-weight: 700;
}

.social-connection {
	border-top: 1px solid #E8E7E5;
	padding-top: 20px;

	.social-tt {
		border-bottom: 1px dashed #bcbaba;
		font-size: 18px;
		padding-bottom: 7px;
	}

	.social-pp {
		font-size: 12px;		
	}

	.networks {
		margin-bottom: 30px;
		display: inline-block;
		
		li {
			float: left;
			margin-left: 2px;
		}

		li:first-child {
			margin-left: 0;
		}
	}
}

.social {
	.btn-custom-blue {
		padding: 8px 97px 8px 15px;
	}

	.btn-custom-blue:hover {
		background-color: none;
		color: #fff;
		text-decoration: underline;
	}
}

.contact {
	.btn-custom-blue:hover {
		background-color: none;
		color: #fff;
		text-decoration: underline;
	}
}

.updates {
	.updates-news {
		margin-bottom: 7px;
		display: inline-block;

		li {
			border-bottom: 1px dashed #bcbaba;	
			float: left;			
			padding-bottom: 10px;	
			padding-top: 10px;	
		}

		.news-thumb {
			float: left;
			line-height: 0px;
			margin: 0 7px 0 0;
		}

		.news-pp {
			color: #333;
			font-size: 12px;
			margin-bottom: 0;
		}	
	}

	.updates-btn {
		background: url(../images/bgs/bg-button-blue.png) no-repeat;
		color: #fff;	
		display: inline-block;		
		font-size: 12px;
		padding: 8px 87px 8px 15px;
	}	
}

/* FOOTER */
footer {
	background-color: #333;
	border-top: 10px solid #4c4c4c;
	margin-top: 30px;
	padding-bottom: 100px;
}

.footer-tt {
	color: #999;
	font-size: 13px;
	margin-top: 15px;
}

.footer-menu {
	li {
		border-left: 1px solid #999;
		float: left;
		font-size: 13px;
		padding: 0 6px;
	}

	li:first-child {
		border-left: 0;
	}

	li a {
		color: #999;
	}
}