/*--------------------------------------------------------------
	HEADER
---------------------------------------------------------------*/
.header-container {
	background: url(../images/bgs/bg-header.png) repeat-x;
	padding-bottom: 35px;

	@media #{$screen-sm-max} {
		padding-bottom: 35px;
	}	
}

.navbar-default {
	background-color: transparent;

	> .navbar-collapse {
		margin-top: 30px;
	}
}

.navbar-header {
	> .navbar-toggle {
		margin-top: 35px;	
	}

	> .brand {
		padding-top: 30px;

		@media #{$screen-sm-max} {
			max-width: 245px;
		}		
	}
}

.navbar-main {
	> .item {
		border-left: 1px dotted #E7E6E4;
		padding: 5px 0  5px 0;	

		@media #{$screen-sm-max} {
			border-left: none;
			padding: 0;
		}	
	}

	> .item > .link {
		color: #777;
		font-size: calc-em(14);
		font-weight: 700;
		line-height: 14px;		
		text-decoration: none;
		text-transform: uppercase;

		&:hover {
			color: #333;

			@media #{$screen-sm-max} {
				background-color: #333;
				border-radius: 2px;	
				color: #fff;
			}
		}
	}

	& .tagline {
		display: block;
		font-size: calc-em(8);
		font-weight: normal;
	}
}
